<div class="text-center">
 <h1 class="new">--ブログ作成ページ--</h1>
  <div class="flame">
    <%= form_with(model: @blog, local: true) do |f| %>
    <div class="top">
      <ul class="list-unstyled">  
        <li class="form-group row">
          <%= f.label :prefecture_id, '都道府県：' %>
          <%= f.select :prefecture_id, {'兵庫': 1, '京都': 2, '奈良': 3,'大阪': 4,'和歌山': 5,'滋賀': 6,'三重': 7}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        </li>
        <li class="form-group row">
          <%= f.label :spot_name, '観光地名：' %>
          <%= f.text_area :spot_name, class: 'form-control', rows:1 %>
        </li>
      </ul>
    </div>
    <h4>写真を選択</h4>
    <div class="images">
      <div class="image">
        <%= f.file_field :image1 %>
      </div>  
      <div class="image">
        <%= f.file_field :image2 %>
      </div>
    </div>
    <div class="address">
      <%= f.label :address, '所在地：' %>
      <%= f.text_area :address, class: 'form-control', rows:1 %>
    </div>
    <div class="content">
      <%= f.label :content, '感想：' %>
      <%= f.text_area :content, class: 'form-control', rows:13 %>
    </div>
    <%= f.submit '送信', class: 'btn btn-primary btn-sm' %>
    <% end %>
  </div>
</div>  